<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
  <%= render 'layouts/header' %>
</p>
<div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
</div>

<div class="container">
<%= yield %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFA1Bvpqc1AOCP5Pu2HINf_XRIgyBjhG8&callback=initMap"
    async defer></script>
</body>
</html>
